
.card-img-top {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
  color: red;
}

a.nav-link {
  color:   #e7e4e4 !important;
}

.card-title{ 
  margin-bottom: 0px;
}

.card{
  width: 22rem;
  display: inline-block;
  margin: 5px;
}

.page { 
  padding: 1%;
}

.badge {
  margin: 2px;
}

/* TIMELINE CSS */

.container {
  width: 80%;
  padding: 50px 0;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}

.container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #CCD1D9;
  z-index: 1
}

.timeline-block {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl
}

.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #F5F7FA;
  background: #4FC1E9;
  margin-top: 10px;
  z-index: 9999
}

.timeline-content {
  width: 95%;
  padding: 0 15px;
  color: #666
}

.timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500
}

.timeline-content h4 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 300
}

.timeline-content span {
  font-size: 15px;
  color: #a4a4a4;
}

.timeline-content p {
  font-size: 14px;
  line-height: 1.5em;
  word-spacing: 1px;
  color: #888;
}


@media screen and (max-width: 768px) {
  .container:before {
     left: 8px;
     width: 2px;
  }
  .timeline-block {
     width: 100%;
     margin-bottom: 30px;
  }
  .timeline-block-right {
     float: none;
  }

  .timeline-block-left {
     float: none;
     direction: ltr;
  }
}


/* SOCIAL MEDIA ICONS */


.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  /* background-color: #BD5D38; */
  background-color: #405b62;
}


/* CARASOUL CSS ADJUSTING */
.carousel .carousel-item {
  width:300px !important;}